[[:space:]]pr[[:space:]]montebello.usdz filter=lfs diff=lfs merge=lfs -text
kut[[:space:]]montebello.usdz filter=lfs diff=lfs merge=lfs -text
kut[[:space:]]shputsi.usdz filter=lfs diff=lfs merge=lfs -text
